{% extends "base.html.twig" %}

{% block title %} Card Game {% endblock %}

{% block body %}
    <nav class="card-nav">
        <a href="{{ path('deck') }}">Sort</a>
        <a href="{{ path('deck_shuffle') }}">Shuffle</a>
        <a href="{{ path('draw_one') }}">Draw 1</a>
        <a href="{{ path('draw_many', {num: 3}) }}">Draw N</a>
    </nav>

    {% block main %}
        <p>Följande klasser finns i Card Game:</p>

        <ul>
            <li>CardGameController: ansvarar för de olika rutterna och generell logik.</li>
            <li>Card: representerar ett spelkort. Har ett numeriskt värde för vilken svit det tillhör
            och ett för vilken valör kortet har. Dessa mappas sedan mot arrayer av strängar för att
            kunna få en grafisk representation.</li>
            <li>CardGraphic: ärver från Card. Enda skillnaden är egentligen att strängarna som representerar
            korten byts ut mot symboler.</li>
            <li>DeckOfCards: ett objekt som innehåller en array av spelkort i form av Card-objekt. Vid skapande läggs
            52 kort till utifrån konstanter i Card-klassen. Innehåller metoder för att bland annat dra kort,
            blanda och sortera leken samt se hur många kort som finns.</li>
        </ul>

        <img width="450" height="307" src="{{ asset('img/kortlek.png') }}" alt="class diagram">
    {% endblock %}
{% endblock %}