{% extends "base.html.twig" %}

{% block title %} Main {% endblock %}

{% block body %}
    {% block main %}
        <p>Card Game Main</p>

        {% for player in players %}
            <div class="player {{ player.style }}">
                <p>Name: {{ player.name }}</p>

                <p>Score: {{ player.scores|join(' / ') }}</p>

                {% for card in player.cards %}
                    {% set parts = card|split(',') %}
                    <div class="card {{ parts[1] }}"> 
                        {{ parts[0] }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {% if message %}
            {{ message }}

            <button type="button" onClick="location.href='{{ path('game_init') }}';">
                Restart
            </button>
        {% else %}
            <button type="button" onClick="location.href='{{ path('game_add_card') }}';">
                Draw
            </button>

            <button type="button" onClick="location.href='{{ path('game_stop') }}';">
                Stop
            </button>
        {% endif %}

    {% endblock %}
{% endblock %}