{% extends "base.html.twig" %}

{% block title %} Book Detail {% endblock %}

{% block body %}
    <nav class="card-nav">
        <a href="{{ path('book_read_all') }}">Översikt</a>
    </nav>

    {% block main %}
        <div class="container-center">
            <h2>{{ book.getTitle }}</h2>
            <h3>ISBN: {{ book.getIsbn }}</h3>

            {% if book.getImage %}
                <img src="{{ book.getImage }}" alt="book cover for {{ book.getTitle }}"
                class="book-image"
                width="250">
            {% endif %}

            <form method="POST" action="">
                <input type="hidden" id="bookId" name="bookId" value="{{ book.getId }}">

                <input type="submit" name="update" value="Uppdatera"
                    onClick="this.form.action='{{ path('book_update', {id: book.getId}) }}';this.form.method='get';"
                    class="link-button">

                <input type="submit" name="delete" value="Radera"
                    onClick="this.form.action='{{ path('book_delete_post') }}';"
                    class="link-button">
            </form>
        </div>
    {% endblock %}
{% endblock %}
