<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Jocke's MVC {% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="viz-body">
        <header class="site-header" style="background-image: url({{ asset('img/world.jpeg') }})">
            <span class="site-title"><h3>World Metrics</h3></span>
        </header>

        <nav class="viz-nav">
            <a href="{{ path('viz_start') }}">Charts</a>
            <a href="{{ path('viz_def') }}">Definitions</a>
            <a href="{{ path('viz_about') }}">About</a>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>

        <div class="viz-footer">
            <p>Made by Jocke T. Sjölin</p>
        </div>
    </body>
</html>
